@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
 ViewData["Title"] = "Search";
}

    <div class="section-pt80 catalog">
        <div class="catalog__center center">
            <div class="catalog__top">
                <div class="catalog__title">Type your keywords</div>
                <form class="catalog__search">
                    <input class="catalog__input" type="text" name="search" placeholder="Search..." required>
                    <button class="catalog__result">
                        <svg class="icon icon-search">
                            <use xlink:href="#icon-search"></use>
                        </svg>
                    </button>
                </form>
            </div>
            <div class="catalog__sorting">
                <select class="select">
                    <option>Newest</option>
                    <option>Oldest</option>
                </select>
                <div class="catalog__nav"><a class="catalog__link active" href="#">All items</a><a class="catalog__link" href="#">Art</a><a class="catalog__link" href="#">Game</a><a class="catalog__link" href="#">Photography</a><a class="catalog__link" href="#">Music</a><a class="catalog__link" href="#">Video</a></div>
            </div>
            <div class="catalog__row">
                <div class="catalog__filters">
                    <div class="range">
                        <div class="range__label">Price range</div>
                        <div class="range__slider js-slider" data-min="0.01" data-max="10" data-start="5" data-step="0.1" data-tooltips="true" data-postfix=" ETH"></div>
                        <div class="range__indicators">
                            <div class="range__text">0.01 ETH</div>
                            <div class="range__text">10 ETH</div>
                        </div>
                    </div>
                    <div class="catalog__group">
                        <div class="field">
                            <div class="field__label">price</div>
                            <select class="select">
                                <option>Most liked</option>
                                <option>Least liked</option>
                            </select>
                        </div>
                        <div class="field">
                            <div class="field__label">color</div>
                            <select class="select">
                                <option>All colors</option>
                                <option>Black</option>
                                <option>Green</option>
                                <option>Pink</option>
                                <option>Purple</option>
                            </select>
                        </div>
                        <div class="field">
                            <div class="field__label">creator</div>
                            <select class="select">
                                <option>Verified only</option>
                                <option>All</option>
                                <option>Most liked</option>
                            </select>
                        </div>
                    </div><a class="catalog__reset" href="#">
                        <svg class="icon icon-close-circle-fill">
                            <use xlink:href="#icon-close-circle-fill"></use>
                        </svg>Reset filter
                    </a>
                </div>
                <div class="catalog__wrapper">
                    <div class="catalog__list">
                        <div class="card">
                            <div class="card__preview">
                                <img srcSet="~/images/content/card-pic-1@2x.jpg 2x" src="~/images/content/card-pic-1.jpg" alt="Card preview" />
                                <div class="card__control">
                                    <div class="status-green card__category">purchasing !</div>
                                    <button class="card__favorite">
                                        <svg class="icon icon-heart">
                                            <use xlink:href="#icon-heart"></use>
                                        </svg>
                                    </button><a class="button-small card__button js-popup-open" href="#popup-bid" data-effect="mfp-zoom-in">
                                        <span>Place a bid</span>
                                        <svg class="icon icon-scatter-up">
                                            <use xlink:href="#icon-scatter-up"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div><a class="card__link" asp-area="" asp-controller="Home" asp-action="Item">
                                <div class="card__body">
                                    <div class="card__line">
                                        <div class="card__title">Amazing digital art</div>
                                        <div class="card__price">2.45 ETH</div>
                                    </div>
                                    <div class="card__line">
                                        <div class="card__users">
                                            <div class="card__avatar"><img src="~/images/content/avatar-1.jpg" alt="Avatar" /></div>
                                            <div class="card__avatar"><img src="~/images/content/avatar-3.jpg" alt="Avatar" /></div>
                                            <div class="card__avatar"><img src="~/images/content/avatar-4.jpg" alt="Avatar" /></div>
                                        </div>
                                        <div class="card__counter">3 in stock</div>
                                    </div>
                                </div>
                                <div class="card__foot">
                                    <div class="card__status">
                                        <svg class="icon icon-candlesticks-up">
                                            <use xlink:href="#icon-candlesticks-up"></use>
                                        </svg>Highest bid <span>0.001 ETH</span>
                                    </div>
                                    <div class="card__bid">New bid <span role="img" aria-label="fire">🔥</span></div>
                                </div>
                            </a>
                        </div>
                        <div class="card">
                            <div class="card__preview">
                                <img srcSet="~/images/content/card-pic-2@2x.jpg 2x" src="~/images/content/card-pic-2.jpg" alt="Card preview" />
                                <div class="card__control">
                                    <div class="status-green card__category">purchasing !</div>
                                    <button class="card__favorite">
                                        <svg class="icon icon-heart">
                                            <use xlink:href="#icon-heart"></use>
                                        </svg>
                                    </button><a class="button-small card__button js-popup-open" href="#popup-bid" data-effect="mfp-zoom-in">
                                        <span>Place a bid</span>
                                        <svg class="icon icon-scatter-up">
                                            <use xlink:href="#icon-scatter-up"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div><a class="card__link" asp-area="" asp-controller="Home" asp-action="Item">
                                <div class="card__body">
                                    <div class="card__line">
                                        <div class="card__title">Ribbon Hunter</div>
                                        <div class="card__price">2.45 ETH</div>
                                    </div>
                                    <div class="card__line">
                                        <div class="card__users">
                                            <div class="card__avatar"><img src="~/images/content/avatar-1.jpg" alt="Avatar" /></div>
                                            <div class="card__avatar"><img src="~/images/content/avatar-3.jpg" alt="Avatar" /></div>
                                            <div class="card__avatar"><img src="~/images/content/avatar-4.jpg" alt="Avatar" /></div>
                                        </div>
                                        <div class="card__counter">3 in stock</div>
                                    </div>
                                </div>
                                <div class="card__foot">
                                    <div class="card__status">
                                        <svg class="icon icon-candlesticks-up">
                                            <use xlink:href="#icon-candlesticks-up"></use>
                                        </svg>Highest bid <span>0.001 ETH</span>
                                    </div>
                                    <div class="card__bid">New bid <span role="img" aria-label="fire">🔥</span></div>
                                </div>
                            </a>
                        </div>
                        <div class="card">
                            <div class="card__preview">
                                <img srcSet="~/images/content/card-pic-3@2x.jpg 2x" src="~/images/content/card-pic-3.jpg" alt="Card preview" />
                                <div class="card__control">
                                    <div class="status-green card__category">purchasing !</div>
                                    <button class="card__favorite">
                                        <svg class="icon icon-heart">
                                            <use xlink:href="#icon-heart"></use>
                                        </svg>
                                    </button><a class="button-small card__button js-popup-open" href="#popup-bid" data-effect="mfp-zoom-in">
                                        <span>Place a bid</span>
                                        <svg class="icon icon-scatter-up">
                                            <use xlink:href="#icon-scatter-up"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div><a class="card__link" asp-area="" asp-controller="Home" asp-action="Item">
                                <div class="card__body">
                                    <div class="card__line">
                                        <div class="card__title">Amazing digital art</div>
                                        <div class="card__price">2.45 ETH</div>
                                    </div>
                                    <div class="card__line">
                                        <div class="card__users">
                                            <div class="card__avatar"><img src="~/images/content/avatar-1.jpg" alt="Avatar" /></div>
                                            <div class="card__avatar"><img src="~/images/content/avatar-3.jpg" alt="Avatar" /></div>
                                            <div class="card__avatar"><img src="~/images/content/avatar-4.jpg" alt="Avatar" /></div>
                                        </div>
                                        <div class="card__counter">3 in stock</div>
                                    </div>
                                </div>
                                <div class="card__foot">
                                    <div class="card__status">
                                        <svg class="icon icon-candlesticks-up">
                                            <use xlink:href="#icon-candlesticks-up"></use>
                                        </svg>Highest bid <span>0.001 ETH</span>
                                    </div>
                                    <div class="card__bid">New bid <span role="img" aria-label="fire">🔥</span></div>
                                </div>
                            </a>
                        </div>
                        <div class="card">
                            <div class="card__preview">
                                <img srcSet="~/images/content/card-pic-4@2x.jpg 2x" src="~/images/content/card-pic-4.jpg" alt="Card preview" />
                                <div class="card__control">
                                    <div class="status-green card__category">purchasing !</div>
                                    <button class="card__favorite">
                                        <svg class="icon icon-heart">
                                            <use xlink:href="#icon-heart"></use>
                                        </svg>
                                    </button><a class="button-small card__button js-popup-open" href="#popup-bid" data-effect="mfp-zoom-in">
                                        <span>Place a bid</span>
                                        <svg class="icon icon-scatter-up">
                                            <use xlink:href="#icon-scatter-up"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div><a class="card__link" asp-area="" asp-controller="Home" asp-action="Item">
                                <div class="card__body">
                                    <div class="card__line">
                                        <div class="card__title">Ribbon Hunter</div>
                                        <div class="card__price">2.45 ETH</div>
                                    </div>
                                    <div class="card__line">
                                        <div class="card__users">
                                            <div class="card__avatar"><img src="~/images/content/avatar-1.jpg" alt="Avatar" /></div>
                                            <div class="card__avatar"><img src="~/images/content/avatar-3.jpg" alt="Avatar" /></div>
                                            <div class="card__avatar"><img src="~/images/content/avatar-4.jpg" alt="Avatar" /></div>
                                        </div>
                                        <div class="card__counter">3 in stock</div>
                                    </div>
                                </div>
                                <div class="card__foot">
                                    <div class="card__status">
                                        <svg class="icon icon-candlesticks-up">
                                            <use xlink:href="#icon-candlesticks-up"></use>
                                        </svg>Highest bid <span>0.001 ETH</span>
                                    </div>
                                    <div class="card__bid">New bid <span role="img" aria-label="fire">🔥</span></div>
                                </div>
                            </a>
                        </div>
                        <div class="card">
                            <div class="card__preview">
                                <img srcSet="~/images/content/card-pic-5@2x.jpg 2x" src="~/images/content/card-pic-5.jpg" alt="Card preview" />
                                <div class="card__control">
                                    <div class="status-green card__category">purchasing !</div>
                                    <button class="card__favorite">
                                        <svg class="icon icon-heart">
                                            <use xlink:href="#icon-heart"></use>
                                        </svg>
                                    </button><a class="button-small card__button js-popup-open" href="#popup-bid" data-effect="mfp-zoom-in">
                                        <span>Place a bid</span>
                                        <svg class="icon icon-scatter-up">
                                            <use xlink:href="#icon-scatter-up"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div><a class="card__link" asp-area="" asp-controller="Home" asp-action="Item">
                                <div class="card__body">
                                    <div class="card__line">
                                        <div class="card__title">Amazing digital art</div>
                                        <div class="card__price">2.45 ETH</div>
                                    </div>
                                    <div class="card__line">
                                        <div class="card__users">
                                            <div class="card__avatar"><img src="~/images/content/avatar-1.jpg" alt="Avatar" /></div>
                                            <div class="card__avatar"><img src="~/images/content/avatar-3.jpg" alt="Avatar" /></div>
                                            <div class="card__avatar"><img src="~/images/content/avatar-4.jpg" alt="Avatar" /></div>
                                        </div>
                                        <div class="card__counter">3 in stock</div>
                                    </div>
                                </div>
                                <div class="card__foot">
                                    <div class="card__status">
                                        <svg class="icon icon-candlesticks-up">
                                            <use xlink:href="#icon-candlesticks-up"></use>
                                        </svg>Highest bid <span>0.001 ETH</span>
                                    </div>
                                    <div class="card__bid">New bid <span role="img" aria-label="fire">🔥</span></div>
                                </div>
                            </a>
                        </div>
                        <div class="card">
                            <div class="card__preview">
                                <img srcSet="~/images/content/card-pic-6@2x.jpg 2x" src="~/images/content/card-pic-6.jpg" alt="Card preview" />
                                <div class="card__control">
                                    <div class="status-green card__category">purchasing !</div>
                                    <button class="card__favorite">
                                        <svg class="icon icon-heart">
                                            <use xlink:href="#icon-heart"></use>
                                        </svg>
                                    </button><a class="button-small card__button js-popup-open" href="#popup-bid" data-effect="mfp-zoom-in">
                                        <span>Place a bid</span>
                                        <svg class="icon icon-scatter-up">
                                            <use xlink:href="#icon-scatter-up"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div><a class="card__link" asp-area="" asp-controller="Home" asp-action="Item">
                                <div class="card__body">
                                    <div class="card__line">
                                        <div class="card__title">Ribbon Hunter</div>
                                        <div class="card__price">2.45 ETH</div>
                                    </div>
                                    <div class="card__line">
                                        <div class="card__users">
                                            <div class="card__avatar"><img src="~/images/content/avatar-1.jpg" alt="Avatar" /></div>
                                            <div class="card__avatar"><img src="~/images/content/avatar-3.jpg" alt="Avatar" /></div>
                                            <div class="card__avatar"><img src="~/images/content/avatar-4.jpg" alt="Avatar" /></div>
                                        </div>
                                        <div class="card__counter">3 in stock</div>
                                    </div>
                                </div>
                                <div class="card__foot">
                                    <div class="card__status">
                                        <svg class="icon icon-candlesticks-up">
                                            <use xlink:href="#icon-candlesticks-up"></use>
                                        </svg>Highest bid <span>0.001 ETH</span>
                                    </div>
                                    <div class="card__bid">New bid <span role="img" aria-label="fire">🔥</span></div>
                                </div>
                            </a>
                        </div>
                        <div class="card">
                            <div class="card__preview">
                                <img srcSet="~/images/content/card-pic-7@2x.jpg 2x" src="~/images/content/card-pic-7.jpg" alt="Card preview" />
                                <div class="card__control">
                                    <div class="status-green card__category">purchasing !</div>
                                    <button class="card__favorite">
                                        <svg class="icon icon-heart">
                                            <use xlink:href="#icon-heart"></use>
                                        </svg>
                                    </button><a class="button-small card__button js-popup-open" href="#popup-bid" data-effect="mfp-zoom-in">
                                        <span>Place a bid</span>
                                        <svg class="icon icon-scatter-up">
                                            <use xlink:href="#icon-scatter-up"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div><a class="card__link" asp-area="" asp-controller="Home" asp-action="Item">
                                <div class="card__body">
                                    <div class="card__line">
                                        <div class="card__title">Amazing digital art</div>
                                        <div class="card__price">2.45 ETH</div>
                                    </div>
                                    <div class="card__line">
                                        <div class="card__users">
                                            <div class="card__avatar"><img src="~/images/content/avatar-1.jpg" alt="Avatar" /></div>
                                            <div class="card__avatar"><img src="~/images/content/avatar-3.jpg" alt="Avatar" /></div>
                                            <div class="card__avatar"><img src="~/images/content/avatar-4.jpg" alt="Avatar" /></div>
                                        </div>
                                        <div class="card__counter">3 in stock</div>
                                    </div>
                                </div>
                                <div class="card__foot">
                                    <div class="card__status">
                                        <svg class="icon icon-candlesticks-up">
                                            <use xlink:href="#icon-candlesticks-up"></use>
                                        </svg>Highest bid <span>0.001 ETH</span>
                                    </div>
                                    <div class="card__bid">New bid <span role="img" aria-label="fire">🔥</span></div>
                                </div>
                            </a>
                        </div>
                        <div class="card">
                            <div class="card__preview">
                                <img srcSet="~/images/content/card-pic-1@2x.jpg 2x" src="~/images/content/card-pic-1.jpg" alt="Card preview" />
                                <div class="card__control">
                                    <div class="status-green card__category">purchasing !</div>
                                    <button class="card__favorite">
                                        <svg class="icon icon-heart">
                                            <use xlink:href="#icon-heart"></use>
                                        </svg>
                                    </button><a class="button-small card__button js-popup-open" href="#popup-bid" data-effect="mfp-zoom-in">
                                        <span>Place a bid</span>
                                        <svg class="icon icon-scatter-up">
                                            <use xlink:href="#icon-scatter-up"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div><a class="card__link" asp-area="" asp-controller="Home" asp-action="Item">
                                <div class="card__body">
                                    <div class="card__line">
                                        <div class="card__title">Amazing digital art</div>
                                        <div class="card__price">2.45 ETH</div>
                                    </div>
                                    <div class="card__line">
                                        <div class="card__users">
                                            <div class="card__avatar"><img src="~/images/content/avatar-1.jpg" alt="Avatar" /></div>
                                            <div class="card__avatar"><img src="~/images/content/avatar-3.jpg" alt="Avatar" /></div>
                                            <div class="card__avatar"><img src="~/images/content/avatar-4.jpg" alt="Avatar" /></div>
                                        </div>
                                        <div class="card__counter">3 in stock</div>
                                    </div>
                                </div>
                                <div class="card__foot">
                                    <div class="card__status">
                                        <svg class="icon icon-candlesticks-up">
                                            <use xlink:href="#icon-candlesticks-up"></use>
                                        </svg>Highest bid <span>0.001 ETH</span>
                                    </div>
                                    <div class="card__bid">New bid <span role="img" aria-label="fire">🔥</span></div>
                                </div>
                            </a>
                        </div>
                        <div class="card">
                            <div class="card__preview">
                                <img srcSet="~/images/content/card-pic-2@2x.jpg 2x" src="~/images/content/card-pic-2.jpg" alt="Card preview" />
                                <div class="card__control">
                                    <div class="status-green card__category">purchasing !</div>
                                    <button class="card__favorite">
                                        <svg class="icon icon-heart">
                                            <use xlink:href="#icon-heart"></use>
                                        </svg>
                                    </button><a class="button-small card__button js-popup-open" href="#popup-bid" data-effect="mfp-zoom-in">
                                        <span>Place a bid</span>
                                        <svg class="icon icon-scatter-up">
                                            <use xlink:href="#icon-scatter-up"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div><a class="card__link" asp-area="" asp-controller="Home" asp-action="Item">
                                <div class="card__body">
                                    <div class="card__line">
                                        <div class="card__title">Ribbon Hunter</div>
                                        <div class="card__price">2.45 ETH</div>
                                    </div>
                                    <div class="card__line">
                                        <div class="card__users">
                                            <div class="card__avatar"><img src="~/images/content/avatar-1.jpg" alt="Avatar" /></div>
                                            <div class="card__avatar"><img src="~/images/content/avatar-3.jpg" alt="Avatar" /></div>
                                            <div class="card__avatar"><img src="~/images/content/avatar-4.jpg" alt="Avatar" /></div>
                                        </div>
                                        <div class="card__counter">3 in stock</div>
                                    </div>
                                </div>
                                <div class="card__foot">
                                    <div class="card__status">
                                        <svg class="icon icon-candlesticks-up">
                                            <use xlink:href="#icon-candlesticks-up"></use>
                                        </svg>Highest bid <span>0.001 ETH</span>
                                    </div>
                                    <div class="card__bid">New bid <span role="img" aria-label="fire">🔥</span></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="catalog__btns">
                        <button class="button-stroke catalog__button">Load more</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="popup popup_wallet mfp-hide" id="popup-wallet">
        <div class="popup__title h4">Folow steps</div>
        <div class="steps">
            <div class="steps__item">
                <div class="steps__head">
                    <div class="steps__icon">
                        <svg class="icon icon-upload-file">
                            <use xlink:href="#icon-upload-file"></use>
                        </svg>
                    </div>
                    <div class="steps__details">
                        <div class="steps__info">Deposit ETH</div>
                        <div class="steps__text">Send transaction with your wallet</div>
                    </div>
                </div>
                <button class="button steps__button">Start now</button>
            </div>
            <div class="steps__item">
                <div class="steps__head">
                    <div class="steps__icon">
                        <svg class="icon icon-check">
                            <use xlink:href="#icon-check"></use>
                        </svg>
                    </div>
                    <div class="steps__details">
                        <div class="steps__info">Approve</div>
                        <div class="steps__text">Checking balance and approving</div>
                    </div>
                </div>
                <button class="button steps__button disabled">Start now</button>
            </div>
            <div class="steps__item">
                <div class="steps__head">
                    <div class="steps__icon">
                        <svg class="icon icon-pencil">
                            <use xlink:href="#icon-pencil"></use>
                        </svg>
                    </div>
                    <div class="steps__details">
                        <div class="steps__info">Signature</div>
                        <div class="steps__text">Create a signature to place a bit</div>
                    </div>
                </div>
                <button class="button steps__button disabled js-popup-close">Start now</button>
            </div>
        </div>
    </div>
    <div class="popup popup_bid mfp-hide" id="popup-bid">
        <div class="popup__title h4">Place a bid</div>
        <div class="popup__info">You are about to purchase <strong>C O I N Z</strong> from <strong>UI8</strong></div>
        <div class="popup__subtitle">Your bid</div>
        <div class="popup__table">
            <div class="popup__row">
                <div class="popup__col">Enter bid</div>
                <div class="popup__col">
                    <div class="popup__bid">
                        <input class="popup__rate" type="tel" name="bid" />
                        <div class="popup__currency">ETH</div>
                    </div>
                </div>
            </div>
            <div class="popup__row">
                <div class="popup__col">Your balance</div>
                <div class="popup__col">8.498 ETH</div>
            </div>
            <div class="popup__row">
                <div class="popup__col">Service fee</div>
                <div class="popup__col">0 ETH</div>
            </div>
            <div class="popup__row">
                <div class="popup__col">Total bid amount</div>
                <div class="popup__col">0 ETH</div>
            </div>
        </div>
        <div class="popup__btns">
            <a class="button popup__button js-popup-open" href="#popup-wallet" data-effect="mfp-zoom-in">Place a bid</a>
            <button class="button-stroke popup__button js-popup-close">Cancel</button>
        </div>
    </div>