@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Upload Details Multiple";
}

    <div class="section upload">
        <div class="upload__center center">
            <div class="upload__wrapper">
                <div class="upload__head">
                    <h2 class="upload__title h2">Create multiple collectible</h2><a class="button-stroke button-small upload__button" asp-area="" asp-controller="Home" asp-action="UploadDetails">Switch to Single</a>
                </div>
                <div class="upload__form">
                    <div class="upload__list">
                        <div class="upload__item">
                            <div class="upload__category">Upload file</div>
                            <div class="upload__note">Drag or choose your file to upload</div>
                            <div class="upload__file">
                                <input class="upload__input" type="file">
                                <div class="upload__icon">
                                    <svg class="icon icon-upload-file">
                                        <use xlink:href="#icon-upload-file"></use>
                                    </svg>
                                </div>
                                <div class="upload__format">PNG, GIF, WEBP, MP4 or MP3. Max 1Gb.</div>
                            </div>
                        </div>
                        <div class="upload__item">
                            <div class="upload__category">Item Details</div>
                            <div class="upload__fieldset">
                                <div class="field">
                                    <div class="field__label">Item name</div>
                                    <div class="field__wrap">
                                        <input class="field__input" type="text" name="item" placeholder="e. g. Redeemable Bitcoin Card with logo&quot;" required>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="field__label">Description</div>
                                    <div class="field__wrap">
                                        <input class="field__input" type="text" name="description" placeholder="e. g. “After purchasing you will able to recived the logo...”" required>
                                    </div>
                                </div>
                                <div class="upload__row">
                                    <div class="upload__col">
                                        <div class="field">
                                            <div class="field__label">Royalties</div>
                                            <div class="field__wrap">
                                                <select class="select">
                                                    <option>10%</option>
                                                    <option>20%</option>
                                                    <option>30%</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="upload__col">
                                        <div class="field">
                                            <div class="field__label">Size</div>
                                            <div class="field__wrap">
                                                <input class="field__input" type="text" name="size" placeholder="e. g. Size" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="upload__col">
                                        <div class="field">
                                            <div class="field__label">Propertie</div>
                                            <div class="field__wrap">
                                                <input class="field__input" type="text" name="propertie" placeholder="e. g. Propertie" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="upload__options">
                        <div class="upload__option">
                            <div class="upload__box">
                                <div class="upload__category">Put on sale</div>
                                <div class="upload__text">You’ll receive bids on this item</div>
                            </div>
                            <label class="switch">
                                <input class="switch__input" type="checkbox" checked="checked" /><span class="switch__inner"><span class="switch__box"></span></span>
                            </label>
                        </div>
                        <div class="upload__option">
                            <div class="upload__box">
                                <div class="upload__category">Instant sale price</div>
                                <div class="upload__text">Enter the price for which the item will be instantly sold</div>
                            </div>
                            <label class="switch">
                                <input class="switch__input" type="checkbox" /><span class="switch__inner"><span class="switch__box"></span></span>
                            </label>
                        </div>
                        <div class="upload__option">
                            <div class="upload__box">
                                <div class="upload__category">Unlock once purchased</div>
                                <div class="upload__text">Content will be unlocked after successful transaction</div>
                            </div>
                            <label class="switch">
                                <input class="switch__input" type="checkbox" /><span class="switch__inner"><span class="switch__box"></span></span>
                            </label>
                        </div>
                        <div class="upload__category">Choose collection</div>
                        <div class="upload__text">Choose an exiting collection or create a new one</div>
                        <div class="upload__cards">
                            <div class="upload__card">
                                <div class="upload__plus" style="background-color: #4BC9F0;">
                                    <svg class="icon icon-plus">
                                        <use xlink:href="#icon-plus"></use>
                                    </svg>
                                </div>
                                <div class="upload__subtitle">Create collection</div>
                            </div>
                            <div class="upload__card">
                                <div class="upload__plus" style="background-color: #45B26B;">
                                    <svg class="icon icon-plus">
                                        <use xlink:href="#icon-plus"></use>
                                    </svg>
                                </div>
                                <div class="upload__subtitle">Crypto Legend - Professor</div>
                            </div>
                            <div class="upload__card">
                                <div class="upload__plus" style="background-color: #EF466F;">
                                    <svg class="icon icon-plus">
                                        <use xlink:href="#icon-plus"></use>
                                    </svg>
                                </div>
                                <div class="upload__subtitle">Crypto Legend - Professor</div>
                            </div>
                            <div class="upload__card">
                                <div class="upload__plus" style="background-color: #9757D7;">
                                    <svg class="icon icon-plus">
                                        <use xlink:href="#icon-plus"></use>
                                    </svg>
                                </div>
                                <div class="upload__subtitle">Legend Photography</div>
                            </div>
                        </div>
                    </div>
                    <div class="upload__foot">
                        <button class="button-stroke tablet-show upload__button js-preview-open">Preview</button><a class="button upload__button js-popup-open" href="#popup-wallet" data-effect="mfp-zoom-in">
                            <span>Create item</span>
                            <svg class="icon icon-arrow-next">
                                <use xlink:href="#icon-arrow-next"></use>
                            </svg>
                        </a>
                        <div class="upload__saving">
                            Auto saving
                            <div class="loader"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="preview js-preview">
                <div class="preview__inner">
                    <button class="preview__close js-preview-close">
                        <svg class="icon icon-close">
                            <use xlink:href="#icon-close"></use>
                        </svg>
                    </button>
                    <div class="preview__info">Preview</div>
                    <div class="card">
                        <div class="card__preview">
                            <img srcSet="~/images/content/card-pic-1@2x.jpg 2x" src="~/images/content/card-pic-1.jpg" alt="Card preview" />
                            <div class="card__control">
                                <div class="status-green card__category">purchasing !</div>
                                <button class="card__favorite">
                                    <svg class="icon icon-heart">
                                        <use xlink:href="#icon-heart"></use>
                                    </svg>
                                </button><a class="button-small card__button js-popup-open" href="#popup-bid" data-effect="mfp-zoom-in">
                                    <span>Place a bid</span>
                                    <svg class="icon icon-scatter-up">
                                        <use xlink:href="#icon-scatter-up"></use>
                                    </svg>
                                </a>
                            </div>
                        </div><a class="card__link" asp-area="" asp-controller="Home" asp-action="Item">
                            <div class="card__body">
                                <div class="card__line">
                                    <div class="card__title">Black Golden Tiger</div>
                                    <div class="card__price">2.45 ETH</div>
                                </div>
                                <div class="card__line">
                                    <div class="card__users">
                                        <div class="card__avatar"><img src="~/images/content/avatar-1.jpg" alt="Avatar" /></div>
                                        <div class="card__avatar"><img src="~/images/content/avatar-3.jpg" alt="Avatar" /></div>
                                        <div class="card__avatar"><img src="~/images/content/avatar-4.jpg" alt="Avatar" /></div>
                                    </div>
                                    <div class="card__counter">3 in stock</div>
                                </div>
                            </div>
                            <div class="card__foot">
                                <div class="card__status">
                                    <svg class="icon icon-candlesticks-up">
                                        <use xlink:href="#icon-candlesticks-up"></use>
                                    </svg>Highest bid <span>0.001 ETH</span>
                                </div>
                                <div class="card__bid">New bid <span role="img" aria-label="fire">🔥</span></div>
                            </div>
                        </a>
                    </div><a class="preview__clear" href="#">
                        <svg class="icon icon-circle-close">
                            <use xlink:href="#icon-circle-close"></use>
                        </svg>Clear all
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="popup popup_wallet mfp-hide" id="popup-wallet">
        <div class="popup__title h4">Folow steps</div>
        <div class="steps">
            <div class="steps__item done">
                <div class="steps__head">
                    <div class="steps__icon">
                        <svg class="icon icon-upload-file">
                            <use xlink:href="#icon-upload-file"></use>
                        </svg>
                    </div>
                    <div class="steps__details">
                        <div class="steps__info">Upload files & Mint token</div>
                        <div class="steps__text">Call contract method</div>
                    </div>
                </div>
                <button class="button steps__button done">Done</button>
            </div>
            <div class="steps__item">
                <div class="steps__head">
                    <div class="steps__icon">
                        <svg class="icon icon-pencil">
                            <use xlink:href="#icon-pencil"></use>
                        </svg>
                    </div>
                    <div class="steps__details">
                        <div class="steps__info">Sign sell order</div>
                        <div class="steps__text">Sign sell order using your wallet</div>
                    </div>
                </div>
                <button class="button steps__button disabled">Start now</button>
            </div>
            <div class="steps__item">
                <div class="steps__head">
                    <div class="steps__icon">
                        <div class="loader-circle"></div>
                    </div>
                    <div class="steps__details">
                        <div class="steps__info">Sign sell order</div>
                        <div class="steps__text">Sign sell order using your wallet</div>
                    </div>
                </div>
                <button class="button steps__button loading">
                    <div class="loader loader_white"></div>
                </button>
            </div>
            <div class="steps__item error">
                <div class="steps__head">
                    <div class="steps__icon">
                        <svg class="icon icon-pencil">
                            <use xlink:href="#icon-pencil"></use>
                        </svg>
                    </div>
                    <div class="steps__details">
                        <div class="steps__info">Sign sell order</div>
                        <div class="steps__text">Sign sell order using your wallet</div>
                    </div>
                </div>
                <button class="button steps__button error">Failed</button>
            </div>
            <div class="steps__item">
                <div class="steps__head">
                    <div class="steps__icon">
                        <svg class="icon icon-bag">
                            <use xlink:href="#icon-bag"></use>
                        </svg>
                    </div>
                    <div class="steps__details">
                        <div class="steps__info">Sign sell order</div>
                        <div class="steps__text">Sign sell order using your wallet</div>
                    </div>
                </div>
                <button class="button steps__button">Start now</button>
            </div>
        </div>
        <div class="steps__note">Something went wrong, please <a href="/#" target="_blank">try again</a></div>
    </div>